.widget-litcal .weekday {
	font-size: 25px; 
}
.widget-litcal .week {
	font-size: 25px;  
}
.widget-litcal .rank {
	font-size: 25px;  
}
.widget.widget-litcal {
  vertical-align: top; 
}
.widget-litcal .photo-box{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.widget-litcal .saint {
	font-size: 12px;  
}
.widget-litcal .saint_title {
	font-size: 10px;  
}