// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FF9500;
$value-color:       #fff;
 
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.9);;
 
// ----------------------------------------------------------------------------
// Widget-news styles
// ----------------------------------------------------------------------------
   .widget-news {
	 background-image: url("http://i.imgur.com/HoWLd6K.png");
	 background-repeat: no-repeat;
	 background-size:auto 100%;
	 background-position: center;
	 background-color: $background-color;
	 vertical-align: baseline !important;

  .headline-container {
    display: none;
  }

  .title {
    font-size: 1.2em;
  }

  .description {
    font-size: 0.8em;
    color: $moreinfo-color;
  }

  .heading{
    color: black;
  }


}