<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="progress_bars" data-view="ProgressBars" data-title="Hubway"></div>
	</li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="mbta" data-view="Mbta"></div>
	</li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="forecast" data-view="Forecast" data-widget_title="Boston Weather"></div>
 	</li>
	
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="sports" data-view="News" data-interval="30"></div>
	</li>
	
	<li class="purple" data-row="2" data-col="1" data-sizex="1" data-sizey="1">
		<div class="purple" data-id="tomtom" data-view="Traffic" data-title="Commute Time"></div>
	</li>
	
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
		<div data-id="lit-cal" data-view="litcal" data-title="Liturgical Calendar"></div>
	</li>
	
	
  </ul>
</div>

  